PORT=4000
NODE_ENV=development
MONGODB_URI=
MONGODB_DNS_SERVERS=1.1.1.1,8.8.8.8
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:19006,http://localhost:8082
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
